Package: com.phillip.repsringnotifier
Name: RespringNotifier
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 72
